<div class="container">

  <div class="circle1"></div>
  <div class="circle2"></div>

  <div class="manager-window">
    <div class="folders tab">
      <h1 class="title">
        Folders
      </h1>

      <div class="folders-list">
        <a class="list-item" href="#">
          <p>List 1</p>
        </a>
        <a class="list-item" href="#">
          <p>List 1</p>
        </a>
        <a class="list-item" href="#">
          <p>List 1</p>
        </a>
        <button class="button" (click)="createNewList()">New folder</button>

      </div>
    </div>

    <div class="tasks tab">
      <h1 class="title">Tasks</h1>
      <div class="task">
        <p>My new task is here</p>
      </div>
      <div class="task">
        <p>My new task is here</p>
      </div>
      <div class="task complete">
        <p>My new task is here</p>
      </div>
    </div>
  </div>
</div>
