<div class="container">

  <div class="circle1"></div>
  <div class="circle2"></div>

  <div class="manager-window">
    <div class="folders tab">
      <h1 class="title">
        Folders
      </h1>

      <div class="folders-list">
        <a *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="is-active" class="list-item"
           href="#">
          <p>{{list.title}}</p>
        </a>
        <button class="button" routerLink="/new-folder">New folder</button>

      </div>
    </div>

    <div class="tasks tab">
      <h1 class="title">Tasks</h1>
      <div *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }" class="task">
        <p>{{task.title}}</p>
      </div>
      <div class="addBtnContainer">
        <button routerLink="./new-task" class="addBtn">Add</button>
      </div>
    </div>
  </div>
</div>
